body {
  justify-content: center;
}
.topbanner {
  background: #f4eedb;
  padding: 14px 0;
  color: #545146;
  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px !important;
  margin-top: 0% !important;
}
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
/* .carouselandcards {
  margin-left: 230px;
} */
.carousel {
  width: 100% !important;
  height: 500px;
}

.headers {
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: 0.15em;
  font-size: 1.8em;
  margin: 50px 0 10px;
  max-height: 5em;
  font-weight: 500;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
}
