.firstmodalbody {
  padding: 10px;
  background-color: wheat;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.firstmodalbody > p {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}
