.loggedinpet {
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin-top: 0;
  position: relative;
  padding: 10px;
  padding-top: 0px;
  color: #ffffff;
  background-color: #36a9cc;
}

.onepet {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.petimage {
  height: 70px;
  width: 70px;
}
.petname {
  text-align: left;
  margin-left: 96px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 510;
  font-size: 16px;
  line-height: 16px;

  color: #000000;
}
.petdetails {
  /* width: 54px;
  height: 14px; */

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  /* line-height: 14px; */
  /* identical to box height */

  color: #7d7d7d;
}

.add {
  /* border: dashed 1px #000000;
  border-radius: 50%; */
  height: 12px;
  width: 12px;

  color: #000000 !important;
}
