body {
  justify-content: center;
}
.products_leftflex {
  padding: 17.28px 20.54px;
  justify-content: center;
  margin-left: 47.25px;
  background: #ffffff;
  border: 0.5px solid #cacaca;
  box-sizing: border-box;
  border-radius: 2px;
}
.products_rightflex {
  max-width: 987.79px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.products_rightflex_cardflex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.showingresults {
  text-align: center;
  color: #000000;
}

.products_bothflex {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
}
.products_leftflex > ul > li {
  font-family: Gotham;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 13px;

  color: #797979;
}
.products_leftflex > ul > li > input {
  margin-right: 14.25px;
}
.newpagebutton {
  font-family: Gotham;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 17px;

  color: #797979;

  background-color: #ffffff;
  border: none;
  outline: none !important;
}
.start_rightflex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.ddropdown {
  /* align-self: flex-end;
  margin-left: auto; */

  width: 309.3px !important;
  height: 34.61px !important;
  /* justify-content: flex-end;
  margin-left: auto; */
  background: #ffffff !important;
  border: 0.5px solid #959595 !important;
  box-sizing: border-box !important;
  border-radius: 2px !important;
}

.ulofsort {
  background: #ffffff !important;
  border: 0.5px solid #959595 !important;
  box-sizing: border-box !important;
  border-radius: 2px !important;
}
.dogfoodtag {
  width: 120px;
  margin-left: 28.5px;
  height: 23px;
  /* 
  font-family: Gotham; */
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 23px;

  color: #000000;
}

.start_rightflex_subcolumn {
  justify-content: flex-end;
  margin-left: auto;
  display: block;
  flex-direction: column;
  flex-wrap: nowrap;
}
.pathontop {
  margin-top: 80px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  color: #000000;
}

button:focus {
  outline: none !important;
}
button:active {
  outline: none !important;
}

@media only screen and (max-width: 819px) {
  .products_leftflex {
    display: none;
  }
  .ddropdown {
    width: 100.3px !important;
  }
  .dogfoodtag {
    display: none;
  }
  .bigscreensort {
    display: none;
  }
}

@media only screen and (min-width: 819px) {
  .shopproducts_filterbutton {
    display: none;
  }
  .smallscreensort {
    display: none;
  }
}

/* a:hover {
  text-decoration: none;
} */

a:link {
  text-decoration: none !important;
}

a:visited {
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
  text-decoration: none !important;
}

a:active {
  text-decoration: none;
}
