.outer {
    margin-top: 60px;
    padding: 20px 8%;
}

.clinic_name {
    color: #36a9cc;
    font-weight: bold;
    padding-top: 10px;
    text-align: left;
}

.vet_p_card {
    border: 0.5px solid #CACACA;
    border-radius: 2px;
    padding: 20px;
}

.card_img {
    text-align: center;
    padding-left: 12%;
    height: 300px;
}

.card_img img {
    width: 256.64px;
    height: 256.64px;
    border-radius: 6px;
}

.badge-des {
    color: #ffffff;
    background-color: #36a9cc;
    font-size: 15px;
    margin: 10px;
    padding: 5px 20px;
    border-radius: 20px;
}

.add_img {
    width: 341.36px;
    height: 580.8px;
}

.appointment {
    padding: 10px 30px;
    text-align: center;
}

.dropdown-menu {
    width: 370px;
}

.drp_btn {
    background: #E6E6E6;
    border: 1px solid #BDBDBD;
    margin-left: 35px;  
}

.drp_btn a {
    color: #686868;
}

.drp_btn a:hover {
    color: black;
}

.blueButton {
    background-color: #36A9CC;
    border: 1px solid #36A9CC;
    border-radius: 2px;
    color: #ffffff;
    margin: 25px 35px;
    margin-right: 0px;
    padding: 7px 120px;
    
}

.address {
    margin-left: 35px;
    border: 1px solid #CECECE;
    border-radius: 2px;
    padding: 10px;
}

.addressbtn {
    border: 1px solid #000000;
    border-radius: 4px;
    color: #000000;
    background-color: #ffffff;
}

.addadd {
    background: #FFFFFF;
    border: 1px dashed #949494;
    border-radius: 2px;
    margin-left: 35px;
    padding: 10px;
    color: #ff5352;
}

