.addSlot_h1 {
    margin: 20px 0px;
    font-weight: bold;
}

.tile_vet {
    width: 90%;
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
}

.main-container {
    background-color: #f2f2f2;
    height: auto;
    width: 100%;
    margin-top: 10px;
    padding: 5%;
}

.pink-btn {
    background-color: #FF5352;
    color: white;
    border: none;
    padding: 6px;
    font-size: larger;
    border-radius: 5px;
}

.pink-btn:hover {
    color: #FF5352;
    background-color: white;
    border: solid #FF5352;
}