.footer_img {
    width: 60%;
}

.footer {
    /*background-color:rgba(247, 247, 247, 0.884) ;*/
    bottom: 0;
    position: relative;
    /*box-shadow: 17px -20px 60px -35px rgba(0,0,0,0.2);*/
    width: 100%;
    background-color: #F5F5F5;
}

.footer_icon {
    color: #36A9CC;
}

.social {
    font-size: 30px;
    padding-right: 5px;
}

.footer p,li {
    color: #000000;
}