/* .dnMtsZ {
  height: 250px;
  padding: 0 !important;
} */
/* .dautGI {
  height: 4px !important;
  width: 5px !important;
} */
/* .QmVdP {
  background-color: transparent; */
/* height: 4px !important;
  width: 5px !important; */
/* }

.jBnCOy {
  display: none !important;
} */
