body {
  justify-content: center;
}
.topbanner {
  background: #f4eedb;
  padding: 0px;
  color: #545146;
  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px !important;
  margin-top: 0% !important;
  margin: 0% !important;
}
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.carousel {
  width: 100% !important;
  height: 500px;
}

.headers {
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: 0.15em;
  font-size: 1.8em;
  margin: 50px 0 10px;
  max-height: 5em;
  font-weight: 500;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
}

.productcards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.dashboardbuttons1 {
  color: #36a9cc !important;

  font-family: Roboto;
  font-style: normal;
  font-weight: 520;
  font-size: 1.4em !important;
  /* margin-left: 30%; */
}

.dashboardbuttons2 {
  justify-content: center !important;
  /* align-items: right !important; */
  color: #36a9cc !important;
  font-family: Roboto;
  font-style: normal;
  font-weight: 520;
  font-size: 1.4em !important;
  /* float: right; */
  margin-right: 30%;
}

.topmostbuttonss {
display: block;
/* 
background-color:; */
margin-left: auto;
margin-right: auto;
width: 25%;
}

@media (max-width: 567px) {
  .carousel-indicators li {
    width: 12px !important;
  }
  .carousel-indicators {
    margin: 0px 60px 0px 60px !important;
  }
}
