.roundcardfile {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 2%;
  width: 200px;
  height: 220px;
  text-align: center !important;
  background-color: #fafafa !important;
  box-shadow: none !important;
}

/* ---------------------------------------cardimage-------------------------------- */
.media {
  height: 140px;
  border: 4px;
  width: 140px;
  border-radius: 75px;
  justify-content: center;
  margin-left: 25px;
  margin-top: 6px;
}

@media only screen and (max-width: 445px) {
  .media {
    height: 80px;

    width: 80px;
  }
  .roundcardfile {
    height: 130px;
    width: 130px;
    border: solid black;
  }
}
