/* .topcarousel {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
} */
.carousel {
  height: 300px;
}

.jBnCOy {
  margin-top: 1px !important;
  position: absolute;
  margin-top: 280px !important;
}
