/* .topcarousel {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
} */
/* .carouseltop {
  height: 300px;
} */
.carouseltop {
  height: auto !important;
}
